.rule-mange-con-page {
  padding: 20px;

  .text-right {
    text-align: right;
  }

  .m-b {
    margin-bottom: 15px;
  }

  .necessary:before {
      content: "*";
      color: #ff5a5a;
  }

  .inline {
    display: inline-block !important;
  }

  .inline-input {
    width: 200px;
  }

  .page-content {
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
  }

  .text-center {
    text-align: center;
  }

  .m-b-lg {
    margin-bottom: 30px;
  }

  .ruel-table {
    /deep/ .cell{
      height: 35px !important;
    }
  }

  .grey-text {
    color: #b1afaf;
  }

  .m-r {
    margin-right: 30px;
  }
}