.todou_container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.no-pointer {
  user-select: none;
  pointer-events: none;
}

.tuou_back {
  width: 100%;
  position: relative;
  display: block;
}

.rain {
  width: 40%;
  left: 60%;
  opacity: 0;
  position: absolute;
}

.yeye {
  width: 44%;
  position: absolute;
}

@keyframes mymove {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.yeye-active {
  animation: mymove 0.5s 4;
}

.shougou {
  opacity: 0;
  width: 75%;
  position: absolute;
}

.haha {
  width: 50%;
  position: absolute;
}

.youxiu {
  width: 52%;
  opacity: 0;
  position: absolute;
}

@keyframes scale {
  0% {
    transform: scale(0.7)
  }

  50% {
    transform: scale(1)
  }

  100% {
    transform: scale(0.7)
  }
}

.item {
  opacity: 0;
}

.item1 {
  width: 15%;
  position: absolute;
}

.item1-active {
  opacity: 1;
  animation: animX 5s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate,
    animY 5s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate,
    scale 10s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
}

.item2 {
  width: 8%;
  position: absolute;
}

.item2-active {
  opacity: 1;
  animation: animX 5s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate,
  animY 5s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate,
  scale 10s cubic-bezier(0.36, 0, 0.64, 1) -2s infinite alternate;
}

.item3 {
  width: 13%;
  position: absolute;
}

.item3-active {
  opacity: 1;
  animation: animX 5s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate,
  animY 5s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate,
  scale 10s cubic-bezier(0.36, 0, 0.64, 1) -4s infinite alternate;
}

.item4 {
  width: 11%;
  position: absolute;
}

.item4-active {
  opacity: 1;
  animation: animX 5s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate,
  animY 5s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate,
  scale 10s cubic-bezier(0.36, 0, 0.64, 1) -6s infinite alternate;
}

.item5 {
  width: 12%;
  position: absolute;
}

.item5-active {
  opacity: 1;
  animation: animX 5s cubic-bezier(0.36, 0, 0.64, 1) -10s infinite alternate,
  animY 5s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate,
  scale 10s cubic-bezier(0.36, 0, 0.64, 1) -8s infinite alternate;
}

.qiche {
  position: absolute;
  width: 75%;
  opacity: 0;
}

.qiche_text {
  position: absolute;
  width: 47%;
  opacity: 0;
}

.xiaodou {
  position: absolute;
  width: 25%;
  opacity: 1;
}

.daxian {
  position: absolute;
  opacity: 0;
  width: 26%;
}

.dayuan {
  position: absolute;
  opacity: 0;
  width: 24%;
}

.sleepz1 {
  opacity: 0;
  position: absolute;
  width: 5%;
  animation: sleepz1 3s 0s infinite alternate;
}

.sleepz2 {
  opacity: 0;
  position: absolute;
  width: 7%;
  animation: sleepz2 3s 0s infinite alternate;
}

.sleepz3 {
  opacity: 0;
  position: absolute;
  width: 9%;
  animation: sleepz3 3s 0s infinite alternate;
}

@keyframes sleepz1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
@keyframes sleepz2 {
  0% {
    opacity: 0;
  }
  25% {
  }
  50% {
    opacity: 1;
  }
  75% {
  }
  100% {
  }
}
@keyframes sleepz3 {
  0% {
    opacity: 0;
  }
  25% {
  }
  50% {
  }
  75% {
    opacity: 1;
  }
  100% {
  }
}

.guguchufang {
  width: 24%;
  position: absolute;
}

.gugutext {
  width: 24%;
  position: absolute;
}

.haochicc {
  width: 24%;
  position: absolute;
}

.cctext {
  width: 20%;
  position: absolute;
}

.last1 {
  width: 20%;
  position: absolute;
}

.last2 {
  width: 20%;
  position: absolute;
}

.last3 {
  width: 40%;
  position: absolute;
}

.last4 {
  width: 20%;
  position: absolute;
}

.dadou {
  width: 25%;
  position: absolute;
}

.hand {
  width: 45%;
  position: absolute;
}

.tudouhand {
  width: 7%;
  position: absolute;
}

.tudouhand-active {
  transform-origin: bottom center;
  animation: shake 2s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}