* {
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
  /* outline: 1px solid; */
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.header-text {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-circle {
  width: 100%;
  height: 56%;
  position: relative;
  text-align: center;
  background-color: #e63e3e;
  border-radius: 0 0 50vw 50vw;
  align-items: center;
}

.logo-img {
  width: 80%;
}

.header-text1,
.header-text2 {
  width: 100%;
  height: 22%;
  text-align: center;
  max-width: 320px;
  font-size: 14px;
}

.header-text2 {
  margin: 5px 0px;
  color: #12263d;
}

.container {
  position: relative;
  height: calc(100vh - 200px - 100px - 20px - 60px);
  min-height: 400px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanted-inf,
.video-inf {
  width: 100%;
  height: 100px;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}

.wanted-inf-text {
  display: inline-block;
  background: #12263d;
  color: white;
  width: 65%;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.wanted-inf-text1 {
  display: inline-block;
  background: #12263d;
  color: white;
  width: 40%;
  border-radius: 30px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
}

.wanted-inf-text2 {
  display: inline-block;
  background: #12263d;
  color: white;
  width: 30px;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.logo-b {
  width: 40%;
  height: 35px;
  background: #12263d;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  color: white;
  line-height: 35px;
}

.inf-b {
  height: 20px;
  width: 100%;
  color: #FF3B0A;
  text-align: center;
  font-size: 0.6rem;
  line-height: 20px;
}

.comics-play {
  position: absolute;
  display: none;
  z-index: 50;
  width: 100%;
  left: 100%;
}

.comics-img {
  width: 100%;
}

#earth_svg {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#projection-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.stroke {
  fill: none;
  stroke: #F1F1F1;
  stroke-width: 1px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.block {
  fill: #F1F1F1;
  stroke: #d0cff5;
}

.city_num {
  z-index: 20;
  background: #FF3B0A;
  color: white;
  padding: 5px;
  position: absolute;
  top: 55%;
  left: 17%;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
}

.city_num p {
  font-size: 10px;
}

#city_num {
  font-size: 30px;
}

.num_line {
  display: inline-block;
  height: 8px;
  width: 8px;
  vertical-align: top;
  border-top: 1px solid;
  border-right: 1px solid;
}

.city_num_text_1, .city_num_text_2, #city_num {
  visibility: hidden;
  opacity: 0;
}

.tudou-img {
  z-index: 30;
  visibility: hidden;
  opacity: 0;
}

.tudou_text1 { 
  position: absolute;
  z-index: 40;
  left: 0%;
  top: 32%;
  transform:rotate(-60deg);
}

.tudou_text2 {
  position: absolute;
  z-index: 40;
  right: 3%;
  top: 32%;
  transform: rotate(60deg);
}

.tudou_text1, .tudou_text2 {
  color: white;
  background: #FF3B0A;
  padding: 2px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}
/* 
body {
  background-image: url('./static/670691314_huge.jpg');
} */