* {
  box-sizing: border-box
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  outline: none
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

html {
  font-size: 36px;
  font-size: 10vw
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: HanHei SC, PingFang SC, Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal
}

@media (min-width:640px) {
  html {
    font-size: 64px
  }
}

.f-tc {
  text-align: center
}

.f-fs14 {
  font-size: 14px
}

.f-cb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden
}

.f-thide {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden
}

.s-fc {
  color: #d33a31
}

.u-text {
  display: table-cell;
  font-size: .2rem
}

.svg-icon {
  stroke-width: 2;
  stroke: #fff;
  fill: #fff
}

.animated {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut
}

.aio-loaded {
  height: auto
}

.f-bd {
  position: relative
}

.f-bd:after {
  position: absolute;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  border: 0 solid rgba(51, 51, 51, .15)
}

.f-bd.f-bd-light:after {
  border-color: hsla(0, 0%, 100%, .15)
}

.f-bd.f-bd-btm:after {
  border-width: 0 0 1px
}

.f-bd.f-bd-top:after {
  border-width: 1px 0 0
}

.f-bd2:after {
  position: absolute;
  z-index: 10;
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  pointer-events: none;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  -webkit-transform-origin: top left;
  transform-origin: top left
}

.f-thide-inline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal
}

font {
  line-height: 1.4
}

font,
font[size="1"] {
  font-size: .33333333rem
}

font[size="2"] {
  font-size: .38888889rem
}

font[size="3"] {
  font-size: .44444444rem
}

font[size="4"] {
  font-size: .55555556rem
}

font[size="5"] {
  font-size: .66666667rem
}

font[size="6"] {
  font-size: .88888889rem
}

font[size="7"] {
  font-size: 1.33333333rem
}

#mainBox {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%
}

.n-act {
  position: relative
}

.n-act.siblingsticky .n-scene {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.format-page .n-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 17.77777778rem;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.format-page .n-scene .m-video .pad video.video {
  display: none
}

.format-page .n-scene.active {
  position: fixed;
  visibility: visible;
  z-index: 1;
  opacity: 1
}

.format-page .n-scene.active .m-video .pad video.video {
  display: block
}

.format-page .n-scene .img-wrap {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1
}

.format-page .n-scene .img-wrap img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100% !important
}

.format-page .n-scene#scene_comment {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.format-page #mainBox {
  overflow: hidden
}

.format-page .n-act {
  height: 17.77777778rem;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: 50%
}

.format-page .n-act .wrap {
  height: 17.77777778rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-perspective: 1200px;
  perspective: 1200px
}

.format-page .m-fixed .n-component {
  margin-left: unset
}

.n-scene {
  font-size: 12px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.n-scene.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.n-scene .img-wrap img {
  width: 100%;
  vertical-align: top;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.n-scene.auto-height .img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.n-scene.auto-height .n-component {
  position: relative
}

.n-scene.n-scene-product .img-wrap {
  position: absolute;
  width: 100%
}

.n-scene.n-scene-richEditor.auto-height .n-component {
  position: absolute
}

.scene-sticky.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

.scene-horizontal {
  width: 10rem;
  margin: 0 auto;
  overflow: hidden
}

.scene-horizontal .scene-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 50px;
  overflow-x: auto;
  overflow-y: hidden
}

#scene_comment .actm-ActComment {
  width: 100vw;
  max-width: 640px;
  margin: 0
}

.n-scene-fpling {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%
}

.n-scene-fpling .loading {
  width: 20px
}

.m-scene-tab-module {
  width: 100%;
  height: auto;
  min-height: 2rem;
  background-color: #fff
}

.m-scene-tab-module .scene-tabs {
  position: relative;
  width: 100%;
  overflow: hidden
}

.m-scene-tab-module .scene-tab-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  color: #ffe3df;
  -webkit-overflow-scrolling: touch
}

.m-scene-tab-module .scene-tab-list::-webkit-scrollbar {
  display: none
}

.m-scene-tab-module .scene-tab-list .tab {
  display: inline-block;
  width: 25%;
  height: 1rem;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  text-align: center;
  vertical-align: middle
}

.m-scene-tab-module .scene-tab-list .tab .item {
  display: block;
  min-width: 0;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  padding: 0 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%
}

.m-scene-tab-module .scene-tabPane {
  position: relative;
  width: 100%
}

.m-scene-tab-module .tabPane {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease
}

.m-scene-tab-module .tabPane.active {
  position: relative;
  left: 0
}

.m-scene-editor-module {
  text-align: left;
  min-height: 5rem
}

.m-scene-editor-module.ql-container.ql-snow {
  border: none
}

.m-scene-editor-module .ql-editor-content.holder {
  color: #999;
  font-style: italic
}

.m-timeline {
  width: 100%;
  height: 100%;
  background-color: #101010
}

.m-timeline .titles {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 15px 0 24px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 11px;
  color: #ffe3df;
  -webkit-overflow-scrolling: touch
}

.m-timeline .titles .title {
  display: inline-block;
  position: relative;
  width: 19%;
  height: 16px;
  line-height: 16px;
  margin: 0;
  text-align: center
}

.m-timeline .titles .title .top {
  display: inline-block;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}

.m-timeline .titles .title .dot {
  display: inline-block;
  position: absolute;
  z-index: 10;
  bottom: -11px;
  left: 50%;
  width: 7px;
  height: 7px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #f5d8c8
}

.m-timeline .titles .title.highlight {
  font-size: 13px;
  color: #e03f40
}

.m-timeline .titles .title.highlight .top {
  font-weight: 700;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px)
}

.m-timeline .titles .title.highlight .dot {
  box-sizing: content-box;
  bottom: -15px;
  width: 9px;
  height: 9px;
  margin-left: -8px;
  background-color: #fc5053;
  border: 3px solid #ff9797
}

.m-timeline .titles::-webkit-scrollbar {
  display: none
}

.m-timeline .btm-line {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 16px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f5d8c8
}

.m-timeline .tip {
  position: absolute;
  z-index: 0;
  right: 5px;
  top: 12px;
  width: 9px;
  font-size: 16px;
  color: #ffe3df;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear
}

.m-timeline .tip svg {
  width: 100%
}

.m-timeline .titles-wrap {
  position: relative;
  width: 100%;
  overflow: hidden
}

.m-timeline .titles-wrap.average .titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center
}

.m-timeline .titles-wrap.average .titles .title {
  width: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.m-timeline .titles-wrap.average .titles .title .dot {
  bottom: -10px
}

.m-timeline .titles-wrap.average .titles .title.highlight .dot {
  bottom: -14px
}

.m-timeline .titles-wrap.average .btm-line {
  bottom: 17px
}

.m-timeline .tabs-wrap {
  position: absolute;
  top: 57px;
  bottom: 0;
  left: 0;
  right: 0
}

.m-timeline .tab-wrap {
  width: 100%;
  height: 100%;
  position: absolute
}

.m-timeline .tab-wrap.show {
  left: 0
}

.m-foldscene {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #101010;
  color: #ffe3df
}

.m-foldscene .comps-wrap {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat
}

.m-foldscene .fold-title {
  padding: .4rem 0;
  margin: 0 10px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px dashed #8e8e8e
}

.m-foldscene .fold-btm {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .2rem 0;
  font-size: 16px;
  text-align: center;
  background-color: #101010
}

.m-foldscene .fold-btm span {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1
}

.m-foldscene .fold-btm .arrow {
  display: inline-block;
  width: 8px;
  -webkit-transform: translate(-2px, -2px) rotate(90deg);
  transform: translate(-2px, -2px) rotate(90deg)
}

.m-foldscene .fold-btm .arrow.up {
  -webkit-transform: translate(1px, -5px) rotate(-90deg);
  transform: translate(1px, -5px) rotate(-90deg)
}

.m-foldscene .fold-btm .arrow svg {
  width: 100%;
  height: 100%
}

.n-component {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat
}

.n-component .m-module {
  width: 100%;
  height: 100%
}

.n-component .component-wrapper {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.n-component .component-wrapper.link {
  cursor: pointer
}

.n-component .component-wrapper.link img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: top
}

.n-component.before-animate {
  visibility: hidden
}

.n-component-text {
  font-size: .38888889rem
}

.n-component-indicator {
  height: auto !important
}

.m-fixed .n-component {
  position: fixed;
  margin-left: calc(50% - 5rem)
}

.m-video {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #000
}

.m-video.z-show .btmmask:after {
  display: block
}

.m-video .mask {
  z-index: 2;
  position: absolute;
  top: auto;
  bottom: 0;
  display: block;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .3));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3))
}

.m-video .pad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.m-video .link {
  display: block;
  left: 0;
  z-index: 5
}

.m-video .link,
.m-video img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}

.m-video img {
  margin: 0
}

.m-video .pad .video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.m-video .pad .video::-webkit-media-controls-start-playback-button {
  display: none
}

.m-video .pad .video.showPlayBtn::-webkit-media-controls-start-playback-button {
  display: block
}

.m-video .btmmask {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px 10px;
  color: #fff;
  line-height: 2;
  font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, STHeiTi, sans-serif
}

.m-video .btmmask:after {
  content: "";
  display: none;
  position: absolute;
  top: -25px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .8));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8))
}

.m-video .play {
  margin-left: -21px;
  margin-top: -21px;
  width: 42px;
  height: 42px;
  top: 50%;
  left: 50%;
  position: absolute;
  overflow: visible;
  z-index: 3
}

.m-video .play img {
  position: unset
}

.m-video .pic {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box
}

.m-video.f-br,
.m-video.f-br img,
.m-video.f-br video {
  border-radius: 6px
}

.m-song {
  overflow: hidden;
  height: 100%;
  color: #fff
}

.m-song .play {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  overflow: visible
}

.m-song .play .icn,
.m-song .play .icn-play {
  display: block
}

.m-song .play .icn-stop,
.m-song .play.z-play .icn-play {
  display: none
}

.m-song .play.z-play .icn-stop {
  display: block
}

.m-actloading {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 86%, .95);
  font-size: 16px;
  font-weight: 700;
  color: #d43c33;
  touch-action: none;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in
}

.m-actloading .loading {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -22px;
  height: 28px;
  font-size: 0;
  text-align: center;
  white-space: nowrap
}

.m-actloading .loading .bars {
  width: 100%;
  height: 100%;
  overflow: hidden
}

.m-actloading .loading-bar {
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #d43c33;
  border-radius: 2px;
  -webkit-animation-name: loadingUpanddown;
  animation-name: loadingUpanddown;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin-right: 5px
}

.m-actloading .loading-bar:last-child {
  margin-right: 0
}

.m-actloading .loading-bar.b1 {
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s
}

.m-actloading .loading-bar.b2 {
  -webkit-animation-delay: -.2s;
  animation-delay: -.2s
}

.m-actloading .loading-bar.b3 {
  -webkit-animation-delay: -.3s;
  animation-delay: -.3s
}

.m-actloading .loading-bar.b4 {
  -webkit-animation-delay: -.4s;
  animation-delay: -.4s
}

.m-actloading .loading-bar.b5 {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s
}

.m-actloading .loading-bar.b6 {
  -webkit-animation-delay: -.6s;
  animation-delay: -.6s
}

.m-actloading .loading-bar.b7 {
  -webkit-animation-delay: -.7s;
  animation-delay: -.7s
}

.m-actloading .loading-tip {
  position: absolute;
  top: 41px;
  left: 50%;
  margin-left: -50%;
  font-size: 12px;
  opacity: .8
}

.m-actloading .loading-tip .dots {
  -webkit-animation: 1s ease 0s infinite alternate loadingDots;
  animation: 1s ease 0s infinite alternate loadingDots
}

.m-actloading .loading-tip .dots.d2 {
  -webkit-animation: 1s ease -.1s infinite alternate loadingDots;
  animation: 1s ease -.1s infinite alternate loadingDots
}

.m-actloading .loading-tip .dots.d3 {
  -webkit-animation: 1s ease -.2s infinite alternate loadingDots;
  animation: 1s ease -.2s infinite alternate loadingDots
}

@-webkit-keyframes loadingUpanddown {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@keyframes loadingUpanddown {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
  }
}

@-webkit-keyframes loadingDots {
  to {
    opacity: 0
  }
}

@keyframes loadingDots {
  to {
    opacity: 0
  }
}

.m-cvrlist li {
  cursor: pointer
}

.m-cvrlist a.u-product-link {
  display: block;
  cursor: pointer;
  position: relative
}

.m-cvrlist a.u-product-link:active {
  opacity: .9
}

.m-product {
  height: 100%
}

.m-product li .u-close {
  display: none;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2
}

.m-product li .f-close:hover .u-close {
  display: inline-block
}

.m-cvrlist-container.m-cvrlist-2 {
  height: 4.603382rem;
  min-height: 155px;
  overflow: hidden
}

.m-cvrlist-container.m-cvrlist-2 .m-cvrlis {
  padding: 0 10px
}

.m-cvrlist-container .m-cvrlist {
  margin: 0;
  padding: 20px 10px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 {
  padding: 10px 6px 0
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li:nth-of-type(2n) {
  padding-left: 4px;
  padding-right: 4px;
  clear: none
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li:nth-of-type(3n+4) {
  clear: both
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li {
  width: 33.3333333%;
  padding-left: 4px;
  padding-right: 4px;
  clear: none
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .price {
  font-size: 13px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .del-price {
  font-size: 11px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .z-soldout {
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .z-soldout .label {
  position: relative;
  top: 19px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .z-soldout .label h5 {
  font-size: 14px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-1 li .z-soldout .label h6 {
  font-size: 10px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 {
  display: inline-block;
  width: 100%;
  padding: 10px 0 0 6px;
  padding-bottom: 50px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2::-webkit-scrollbar {
  display: none
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li:nth-of-type(2n) {
  padding-left: .966184%;
  padding-right: .966184%
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li:first-child {
  padding-left: 4px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li:last-child {
  margin-right: 6px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li {
  float: none;
  display: inline-block;
  box-sizing: border-box;
  width: 27.8%;
  padding-left: .966184%;
  padding-right: .966184%;
  margin-bottom: 0;
  clear: none;
  vertical-align: top
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .u-title {
  white-space: normal
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .price {
  font-size: 13px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .del-price {
  font-size: 11px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .buying {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  padding: 6px 5px 5px;
  text-align: center;
  font-size: 10px;
  overflow: hidden
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .z-soldout {
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .z-soldout .label {
  position: relative;
  top: 14px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .z-soldout .label h5 {
  font-size: 13px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-2 li .z-soldout .label h6 {
  font-size: 10px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 {
  padding: 0 10px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li {
  width: 100%;
  padding: 10px 0 9px !important;
  margin-bottom: 0
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .product {
  position: relative;
  overflow: hidden
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .cover {
  float: left;
  width: 31%;
  padding: 0;
  padding-right: 8px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .cover img {
  position: relative
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .cnt {
  position: static;
  float: left;
  width: 69%;
  text-align: left
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .z-soldout {
  width: 72px;
  height: 72px;
  margin-left: -40px;
  margin-top: -36px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .z-soldout .label {
  position: relative;
  top: 19px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .z-soldout .label h5 {
  font-size: 14px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .z-soldout .label h6 {
  font-size: 10px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .suggest-word {
  font-size: 13px;
  color: #999
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .price {
  position: absolute;
  bottom: 3px;
  left: 31%;
  line-height: 1;
  font-size: 20px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .price .currency,
.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .price .del-price,
.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .price .vipslash {
  font-size: 13px
}

.m-cvrlist-container .m-cvrlist.m-cvrlist-3 li .price .vipicon-3 {
  width: 32px;
  height: 17px
}

.m-cvrlist-container .m-cvrlist li {
  position: relative;
  float: left;
  clear: both;
  box-sizing: border-box;
  width: 50%;
  padding-right: 5px;
  margin-bottom: 20px;
  list-style-type: none
}

.m-cvrlist-container .m-cvrlist li .del-price {
  font-size: 12px;
  color: #aaa
}

.m-cvrlist-container .m-cvrlist li .u-product-link {
  cursor: auto
}

.m-cvrlist-container .m-cvrlist li .buying {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 8px 5px 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #d33a31;
  opacity: .9;
  line-height: 1.1;
  white-space: normal
}

.m-cvrlist-container .m-cvrlist li:nth-of-type(2n) {
  padding-left: 5px;
  padding-right: 0;
  clear: none
}

.m-cvrlist-container .m-cvrlist .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin: 0
}

.m-cvrlist-container .m-cvrlist .cover .z-soldout {
  position: absolute;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: rgba(25, 25, 25, .7);
  top: 50%;
  left: 50%;
  margin-left: -42px;
  margin-top: -42px;
  color: #fff
}

.m-cvrlist-container .m-cvrlist .cover .z-soldout .label {
  position: relative;
  top: 22px
}

.m-cvrlist-container .m-cvrlist .cover .z-soldout .label h5,
.m-cvrlist-container .m-cvrlist .cover .z-soldout .label h6 {
  font-weight: 400;
  margin: 0;
  text-align: center
}

.m-cvrlist-container .m-cvrlist .cover .z-soldout .label h5 {
  font-size: 18px
}

.m-cvrlist-container .m-cvrlist .cover .z-soldout .label h6 {
  font-size: 12px
}

.m-cvrlist-container .m-cvrlist i.jifen {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin: -2px 2px 0 0;
  color: #999
}

.m-cvrlist-container .m-cvrlist i.jifen svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
  display: block
}

.m-cvrlist-container .m-cvrlist img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1
}

.m-cvrlist-container .m-cvrlist .vipicon {
  display: inline-block;
  width: 24px;
  height: 12px;
  position: relative;
  top: 1px
}

.m-cvrlist-container .m-cvrlist .vipslash {
  color: #aaa;
  font-size: 12px
}

.m-cvrlist-container .m-cvrlist h3 {
  max-height: 34px;
  padding-top: 1px;
  margin: 5px 0;
  line-height: 17px;
  font-weight: 400;
  color: #333
}

.m-cvrlist-container .m-cvrlist .cnt .u-tagrdi {
  display: inline-block;
  position: relative;
  top: -1px;
  height: 15px;
  line-height: 17px;
  padding: 0 2px 0 3px;
  margin-right: 2px;
  color: #e03f40;
  font-size: 10px;
  vertical-align: middle;
  text-align: center
}

.m-cvrlist-container .m-cvrlist .cnt .u-tagrdi:after {
  border: 1px solid rgba(224, 63, 64, .7)
}

.m-cvrlist-container .m-cvrlist .cnt .u-tagrdi-blue {
  color: #3f82d6
}

.m-cvrlist-container .m-cvrlist .cnt .u-tagrdi-blue:after {
  border: 1px solid #3f82d6
}

.m-cvrlist-container .m-cvrlist .cnt p {
  margin: 0
}

@media screen and (max-width:320px) {
  .suggest-word.f-thide {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden
  }
}

@media (device-width:320px) {
  .m-cvrlist-container .m-cvrlist .cnt .u-tagrdi {
    line-height: 15px
  }
}

@media (device-width:375px) {
  .m-cvrlist-container .m-cvrlist .cnt .u-tagrdi {
    line-height: 15px
  }
}

@media (device-width:414px) {
  .m-cvrlist-container .m-cvrlist .cnt .u-tagrdi {
    line-height: 15px
  }
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
  .f-bd:after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
}

@media screen and (-webkit-min-device-pixel-ratio:3) {
  .f-bd:after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(.333333);
    transform: scale(.333333)
  }
}